Repository MicrosoftDocs/cloud-adoption-framework, pull requests merged in 2019-12, with the labels that each got.

#24 Updating MS Learn learning paths to Migrate
  docs/migrate/migration-considerations/secure-and-manage/index.md
Labels: Change sent to author, assessing_(C&L), cloud-adoption-framework/svc, do-not-merge, migrate/subsvc

#26 Update with MS Learn learning path content
  docs/migrate/azure-best-practices/contoso-migration-rebuild.md
Labels: Change sent to author, assessing_(C&L), cloud-adoption-framework/svc, do-not-merge, migrate/subsvc

#27 Updating MS Learn learning paths to Innovate
  docs/innovate/index.md
Labels: Change sent to author, assessing_(C&L), cloud-adoption-framework/svc, do-not-merge, innovate/subsvc

#17 Including MS Learn content for Innovate section
  docs/innovate/index.md
Labels: Change sent to author, assessing_(C&L), cloud-adoption-framework/svc, do-not-merge, innovate/subsvc

#25 Update with links to MS Learn learning path
  docs/migrate/azure-migration-guide/migrate.md
Labels: Change sent to author, assessing_(C&L), cloud-adoption-framework/svc, do-not-merge, migrate/subsvc

#66 Topic type should be overview
  docs/ready/considerations/index.md
Labels: Change sent to author, assessing_(C&L), cloud-adoption-framework/svc, do-not-merge, ready/subsvc
