Repository MicrosoftDocs/cloud-adoption-framework, pull requests merged in 2020-04, with the labels that each got.

#154 Update business-risk.md
  docs/govern/policy-compliance/business-risk.md
Labels: Change sent to author, cloud-adoption-framework/svc, do-not-merge, govern/subsvc

#155 Update balance-competing-priorities.md
  docs/strategy/balance-competing-priorities.md
Labels: Change sent to author, cloud-adoption-framework/svc, do-not-merge, strategy/subsvc

#159 Fix merged file
  docs/migrate/azure-best-practices/contoso-migration-rehost-vm-sql-ag.md
Labels: Change sent to author, cloud-adoption-framework/svc, do-not-merge, migrate/subsvc

#160 Review contoso content
  docs/innovate/considerations/apps.md
  docs/migrate/azure-best-practices/contoso-migration-infrastructure.md
  docs/migrate/azure-best-practices/contoso-migration-overview.md
  docs/migrate/azure-best-practices/contoso-migration-rebuild.md
  docs/migrate/azure-best-practices/contoso-migration-refactor-linux-app-service-mysql.md
  docs/migrate/azure-best-practices/contoso-migration-refactor-web-app-sql-managed-instance.md
  docs/migrate/azure-best-practices/contoso-migration-refactor-web-app-sql.md
  docs/migrate/azure-best-practices/contoso-migration-rehost-linux-vm-mysql.md
  docs/migrate/azure-best-practices/contoso-migration-rehost-linux-vm.md
  docs/migrate/azure-best-practices/contoso-migration-rehost-vm-sql-ag.md
  docs/migrate/azure-best-practices/contoso-migration-rehost-vm-sql-managed-instance.md
  docs/migrate/azure-best-practices/contoso-migration-rehost-vm.md
  docs/migrate/azure-best-practices/contoso-migration-scale.md
  docs/migrate/azure-best-practices/media/contoso-migration-rebuild/vsts-publish-front1.png
  docs/migrate/azure-best-practices/media/contoso-migration-rebuild/vsts-publish-front10.png
  docs/migrate/azure-best-practices/media/contoso-migration-rebuild/vsts-publish-front11.png
  docs/migrate/azure-best-practices/media/contoso-migration-rebuild/vsts-publish-front12.png
  docs/migrate/azure-best-practices/media/contoso-migration-rebuild/vsts-publish-front13.png
  docs/migrate/azure-best-practices/media/contoso-migration-rebuild/vsts-publish-front14.png
  docs/migrate/azure-best-practices/media/contoso-migration-rebuild/vsts-publish-front15.png
  docs/migrate/azure-best-practices/media/contoso-migration-rebuild/vsts-publish-front16.png
  docs/migrate/azure-best-practices/media/contoso-migration-rebuild/vsts-publish-front2.png
  docs/migrate/azure-best-practices/media/contoso-migration-rebuild/vsts-publish-front3.png
  docs/migrate/azure-best-practices/media/contoso-migration-rebuild/vsts-publish-front4.png
  docs/migrate/azure-best-practices/media/contoso-migration-rebuild/vsts-publish-front5.png
  docs/migrate/azure-best-practices/media/contoso-migration-rebuild/vsts-publish-front6.png
  docs/migrate/azure-best-practices/media/contoso-migration-rebuild/vsts-publish-front7.png
  docs/migrate/azure-best-practices/media/contoso-migration-rebuild/vsts-publish-front8.png
  docs/migrate/azure-best-practices/media/contoso-migration-rebuild/vsts-publish-front9.png
  docs/migrate/azure-best-practices/media/contoso-migration-refactor-linux-app-service-mysql/migration-dms-new-project-02.png
  docs/migrate/azure-best-practices/media/contoso-migration-refactor-linux-app-service-mysql/migration-dms-new-project.png
  docs/migrate/azure-best-practices/media/contoso-migration-rehost-linux-vm-mysql/migration-dms-new-project-02.png
  docs/migrate/azure-best-practices/media/contoso-migration-rehost-linux-vm-mysql/migration-dms-new-project.png
  docs/migrate/azure-best-practices/media/contoso-migration-rehost-vm-sql-ag/enable-always-on.png
  docs/migrate/azure-best-practices/media/contoso-migration-rehost-vm-sql-managed-instance/dms-wizard-source-db.png
  docs/plan/contoso-migration-assessment.md
  docs/toc.yml
Labels: Change sent to author, cloud-adoption-framework/svc, do-not-merge, migrate/subsvc

#161 Fix image link
  docs/plan/contoso-migration-assessment.md
Labels: Change sent to author, cloud-adoption-framework/svc, do-not-merge, migrate/subsvc

#162 TOC fixes
  docs/toc.yml
Labels: do-not-merge, review-team-triage

#153 mva no longer exist
  docs/organize/suggested-skills.md
Labels: Change sent to author, aq-pr-triaged, cloud-adoption-framework/svc, organize/subsvc, ready-to-merge

#147 Update naming-and-tagging.md
  docs/ready/azure-best-practices/naming-and-tagging.md
Labels: Change sent to author, aq-pr-triaged, cloud-adoption-framework/svc, ready-to-merge, ready/subsvc

#165 Update track-costs.md
  docs/ready/azure-best-practices/track-costs.md
Labels: Change sent to author, aq-pr-triaged, cloud-adoption-framework/svc, do-not-merge, ready/subsvc
