Repository MicrosoftDocs/cloud-adoption-framework, pull requests merged in 2021-09, with the labels that each got.

#588 Update index.md
  docs/strategy/technical-considerations/index.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, strategy/subsvc

#596 Fix formatting
  docs/ready/azure-best-practices/resource-abbreviations.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, ready/subsvc

#595 Update overview-data-governance.md
  docs/scenarios/data-management/overview-data-governance.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, overview/subsvc
