Repository MicrosoftDocs/cloud-adoption-framework, pull requests merged in 2022-02, with the labels that each got.

#725 Update eslz-platform-automation-and-devops.md
  docs/scenarios/wvd/eslz-platform-automation-and-devops.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, scenario/subsvc

#735 fix typo
  docs/ready/landing-zone/design-area/azure-billing-microsoft-customer-agreement.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, ready/subsvc

#737 Resolve syncing conflicts from repo_sync_working_branch to main
  docs/scenarios/data-management/strategy.md
Labels: do-not-merge

#743 change name from Enterprise scale to Azure landing zone
  docs/scenarios/aks/eslz-security-governance-and-compliance.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, scenario/subsvc

#749 Added ExpressRoute Gateways
  docs/ready/azure-best-practices/resource-abbreviations.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, ready/subsvc

#746 change name to AKS landing zone accelerator
  docs/scenarios/aks/eslz-resource-organization.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, scenario/subsvc

#748 Updates revoke certificate error
  docs/manage/hybrid/server/best-practices/local-vagrant-windows.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, manage/subsvc
