Repository MicrosoftDocs/cloud-adoption-framework, pull requests merged in 2022-08, with the labels that each got.

#928 Update tools-templates.md
  docs/resources/tools-templates.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, general/subsvc

#929 Update cloud-adoption.md
  docs/get-started/team/cloud-adoption.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, aq-pr-triaged, general/subsvc

#936 Update data-management-landing-zone.md
  docs/scenarios/cloud-scale-analytics/architectures/data-management-landing-zone.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, scenario/subsvc
