Repository MicrosoftDocs/cloud-adoption-framework, pull requests merged in 2022-12, with the labels that each got.

#1014 Updated intro paragraph for clarity
  docs/scenarios/wvd/eslz-business-continuity-and-disaster-recovery.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc

#1013 Edited container storage types section
  docs/scenarios/wvd/eslz-business-continuity-and-disaster-recovery.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc

#1026 Update faq.md
  docs/ready/enterprise-scale/faq.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, ready/subsvc

#1027 Task 22998 - Docs section: BCDR - SLAs
  docs/scenarios/wvd/eslz-business-continuity-and-disaster-recovery.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, scenario/subsvc

#1017 Update scale-architectures.md
  docs/scenarios/cloud-scale-analytics/architectures/scale-architectures.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, aq-pr-triaged, inactive, scenario/subsvc

#1031 # TASK 22999* Add point sign in-out and Cloud Cache
  docs/scenarios/wvd/eslz-business-continuity-and-disaster-recovery.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc

#1040 Update fiscal-outcomes.md
  docs/strategy/business-outcomes/fiscal-outcomes.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, strategy/subsvc
