Repository MicrosoftDocs/cloud-adoption-framework, pull requests merged in 2022-03, with the labels that each got.

#744 change the name from enterprise scale
  docs/scenarios/aks/eslz-identity-and-access-management.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc

#745 change names to Azure landing zones
  docs/scenarios/aks/eslz-network-topology-and-connectivity.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc

#741 New abbreviations
  docs/ready/azure-best-practices/resource-abbreviations.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, ready/subsvc, aq-pr-triaged, inactive

#742 Name change to AKS Landing Zone Accelerator
  docs/scenarios/aks/enterprise-scale-landing-zone.md
  docs/scenarios/aks/eslz-identity-and-access-management.md
  docs/scenarios/aks/eslz-security-governance-and-compliance.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc

#837 Removed duplicated sentences in first 2 paragraphs
  docs/get-started/manage-costs.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, general/subsvc
