Repository MicrosoftDocs/cloud-adoption-framework, pull requests merged in 2022-10, with the labels that each got.

#966 Update data-management-landing-zone.md
  docs/scenarios/cloud-scale-analytics/architectures/data-management-landing-zone.md
Labels: Change sent to author, do-not-merge, ready-to-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc, missed-content-complete, event-triaged-to-10AM

#965 ANF updates
  docs/scenarios/app-platform/aks/storage.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc, missed-content-complete, event-triaged-to-10AM

#969 Correct link for 'Operating model terminology'
  docs/operating-model/compare.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, aq-pr-triaged, general/subsvc

#970 Updating link text
  docs/operating-model/compare.md
Labels: do-not-merge

#973 Update cloud-concepts.md
  docs/get-started/cloud-concepts.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, general/subsvc

#976 Typo: ad -> and
  docs/ready/landing-zone/terraform-landing-zone.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, ready/subsvc

#982 Update observability.md
  docs/manage/monitor/observability.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, manage/subsvc

#955 Added Storage considerations
  docs/scenarios/azure-vmware/eslz-management-and-monitoring.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc

#984 Adding Container Apps Environment
  docs/ready/azure-best-practices/resource-abbreviations.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, ready/subsvc, aq-pr-triaged
