Repository MicrosoftDocs/cloud-adoption-framework, pull requests merged in 2022-01, with the labels that each got.

#604 Wording was off
  docs/organize/cloud-center-of-excellence.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, aq-pr-triaged, organize/subsvc, keep-open

#703 Resolve syncing conflicts from repo_sync_working_branch to main
  docs/ready/enterprise-scale/dine-guidance.md
  docs/scenarios/data-management/best-practices/azure-synapse-analytics-implementation.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, scenario/subsvc

#665 Updated doc & included Naming Tool
  docs/ready/azure-best-practices/resource-naming.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, ready/subsvc, aq-pr-triaged, inactive
