Repository MicrosoftDocs/cloud-adoption-framework, pull requests merged in 2023-05, with the labels that each got.

#1136 Add relevant demo material for Data Marketplace
  docs/scenarios/cloud-scale-analytics/architectures/data-mesh-data-marketplace.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc

#1130 Update eslz-network-topology-and-connectivity.md
  docs/scenarios/sap/eslz-network-topology-and-connectivity.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc, qualifies-for-auto-merge

#1143 Update article to add link for storage option for Azure NetApp files
  docs/scenarios/wvd/landing-zone-citrix/citrix-network-topology-connectivity.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc, qualifies-for-auto-merge

#1144 Update: Fixed the GH repo link
  docs/scenarios/app-platform/integration-services/landing-zone-accelerator.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, caf/svc, caf-scenario-app-plat/subsvc

#1141 Update automation.md for AzOps removal from ALZ Portal experience
  docs/ready/considerations/automation.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, ready/subsvc, aq-pr-triaged, qualifies-for-auto-merge
