Repository MicrosoftDocs/cloud-adoption-framework, pull requests merged in 2023-07, with the labels that each got.

#1193 Update sandbox-environments.md - Adjusted sentence.
  docs/ready/considerations/sandbox-environments.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, ready/subsvc, qualifies-for-auto-merge

#1195 Update eslz-business-continuity-and-disaster-recovery.md
  docs/scenarios/wvd/eslz-business-continuity-and-disaster-recovery.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc, qualifies-for-auto-merge

#1168 Update identity-access-management.md
  docs/scenarios/azure-hpc/manufacturing/identity-access-management.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc, qualifies-for-auto-merge

#1167 Update security.md
  docs/scenarios/azure-hpc/manufacturing/security.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc

#1166 Update storage.md
  docs/scenarios/azure-hpc/manufacturing/storage.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc, qualifies-for-auto-merge

#1197 Update platform-automation-devops.md
  docs/scenarios/azure-hpc/manufacturing/platform-automation-devops.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc, qualifies-for-auto-merge

#1201 Update data-management-landing-zone.md
  docs/scenarios/cloud-scale-analytics/architectures/data-management-landing-zone.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, scenario/subsvc, qualifies-for-auto-merge

#1199 Remove self-referencing link
  docs/scenarios/hybrid/arc-enabled-servers/eslz-identity-and-access-management.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc, qualifies-for-auto-merge

#1183 Update management.md - Fixed markdown, increased readability #1158Iss…
  docs/scenarios/app-platform/api-management/management.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, aq-pr-triaged, inactive, scenario/subsvc, qualifies-for-auto-merge, pending-content-team/business-approval

#1204 Update manage-operations.md
  docs/scenarios/defense/identity/multi-tenant/manage-operations.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, scenario/subsvc, qualifies-for-auto-merge
