Repository MicrosoftDocs/cloud-adoption-framework, pull requests merged in 2023-04, with the labels that each got.

#1117 Update automation.md
  docs/ready/considerations/automation.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, ready/subsvc, qualifies-for-auto-merge

#1116 New link to Zero Trust document on AVD
  docs/scenarios/wvd/eslz-security-governance-and-compliance.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc, qualifies-for-auto-merge, pending-content-team/business-approval

#1128 Update landing-zone-journey.md missing periods.
  docs/ready/landing-zone/landing-zone-journey.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, ready/subsvc, qualifies-for-auto-merge

#1123 Update network-topology-and-connectivity.md
  docs/scenarios/app-platform/integration-services/network-topology-and-connectivity.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, caf/svc, caf-scenario-app-plat/subsvc
