Repository MicrosoftDocs/cloud-adoption-framework, pull requests merged in 2023-09, with the labels that each got.

#1232 Update: Add Azure Site Recovery as an option on AVS BCDR page
  docs/scenarios/azure-vmware/eslz-business-continuity-and-disaster-recovery.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, caf/svc, caf-scenario-vmware/subsvc, architecture-center/svc

#1239 [Quality Check] Update fiscal-outcomes.md (fix small typo)
  docs/strategy/business-outcomes/fiscal-outcomes.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, pending-content-team/business-approval, caf/svc, caf-methodology-strategy/subsvc

#1241 Add Virtual Network Manager
  docs/ready/azure-best-practices/resource-abbreviations.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, caf/svc, caf-methodology-ready/subsvc

#1243 Add Resource Abbrev entry for Virtual WAN Hub (vhub)
  docs/ready/azure-best-practices/resource-abbreviations.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, caf/svc, caf-methodology-ready/subsvc

#1245 Update eslz-security-governance-and-compliance.md
  docs/scenarios/azure-vmware/eslz-security-governance-and-compliance.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, caf/svc, caf-scenario-vmware/subsvc
