Repository MicrosoftDocs/cloud-adoption-framework, pull requests merged in 2023-12, with the labels that each got.

#1274 Update landing-zone-accelerator readme.md
  docs/scenarios/app-platform/container-apps/landing-zone-accelerator.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, caf/svc, caf-scenario-app-plat/subsvc

#1268 Update small fix on wording.md
  docs/scenarios/azure-hpc/ready.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, caf/svc, caf-scenario-hpc/subsvc

#1275 Update Entra ID as a Supported Identity option
  docs/scenarios/wvd/eslz-identity-and-access-management.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, caf/svc, caf-scenario-virtual-desktop/subsvc

#1247 Update applicable links for ALZ-Bicep for Accelerator
  docs/ready/index.md
  docs/ready/landing-zone/implementation-options.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, inactive, needs-human-review, pending-content-team/business-approval, caf/svc, caf-alz/subsvc

#1283 Update ready.md
  docs/scenarios/azure-hpc/ready.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, caf/svc, caf-scenario-hpc/subsvc

#1285 Update - fix link for AVS LZ deployment with network connectivity
  docs/scenarios/azure-vmware/enterprise-scale-landing-zone.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, caf/svc, caf-scenario-vmware/subsvc
