Repository MicrosoftDocs/cloud-adoption-framework, pull requests merged in 2023-11, with the labels that each got.

#1255 Update - Added scenario overview diagrams, fixed scenario 4 diagram.
  docs/scenarios/azure-vmware/example-architectures.md
  docs/scenarios/azure-vmware/media/eslz-net-scenario-4.png
  docs/scenarios/azure-vmware/media/eslz-net-scenario-5.png
  docs/scenarios/azure-vmware/media/eslz-net-scenario-5.svg
  docs/scenarios/azure-vmware/media/eslz-overview-scenario-1.png
  docs/scenarios/azure-vmware/media/eslz-overview-scenario-2.png
  docs/scenarios/azure-vmware/media/eslz-overview-scenario-3.png
  docs/scenarios/azure-vmware/media/eslz-overview-scenario-4.png
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review, caf/svc, caf-scenario-vmware/subsvc

#1259 Update: Fixed grammatical error
  docs/scenarios/hybrid/ready.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, caf/svc, caf-scenario-hybrid/subsvc

#1260 Typo "a Azure Virtual Desktop"→"an Azure～"
  docs/scenarios/wvd/enterprise-scale-landing-zone.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, caf/svc, caf-scenario-virtual-desktop/subsvc

#1264 Typo "a Azure VM"→"an Azure VM"
  docs/migrate/azure-best-practices/tailwind-migration-assess-servers.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, caf/svc, caf-methodology-adopt-migrate/subsvc

#1262 Typo "a Azure Migrate"→"an Azure Migrate"
  docs/migrate/azure-best-practices/contoso-migration-devtest-to-iaas.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, caf/svc, caf-methodology-adopt-migrate/subsvc
