Repository MicrosoftDocs/cloud-adoption-framework, pull requests merged in 2023-03, with the labels that each got.

#1086 added the reference to the explanation of the labels referred to in the Visio diagram.
  docs/ready/landing-zone/index.md
  docs/scenarios/wvd/enterprise-scale-landing-zone.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, ready/subsvc, aq-pr-triaged, scenario/subsvc, needs-human-review, cact-review-in-progress

#1087 Update network-topology-and-connectivity.md
  docs/ready/landing-zone/design-area/network-topology-and-connectivity.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, ready/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#834 Removed unknown numbers
  docs/govern/guides/complex/security-baseline-improvement.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, aq-pr-triaged, govern/subsvc, inactive, qualifies-for-auto-merge

#1088 Initiatives Typo
  docs/govern/resource-consistency/keep-azure-landing-zone-up-to-date.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, govern/subsvc, qualifies-for-auto-merge

#1089 Corrected Azure HPC OnDemand Platform
  docs/scenarios/azure-hpc/well-architected-framework.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc, qualifies-for-auto-merge

#995 Added more info on appgw in spoke vnet
  docs/ready/azure-best-practices/plan-for-app-delivery.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, ready/subsvc, aq-pr-triaged, qualifies-for-auto-merge, pending-content-team/business-approval

#1093 Update eslz-management-and-monitoring.md
  docs/scenarios/azure-vmware/eslz-management-and-monitoring.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc, qualifies-for-auto-merge

#1107 Correct Microsoft Purview name
  docs/ready/azure-best-practices/resource-abbreviations.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, ready/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#839 Update resource-naming.md
  docs/ready/azure-best-practices/resource-naming.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, ready/subsvc, aq-pr-triaged, inactive, pending-content-team/business-approval

#865 Update Enterprise-scale to LandingZone Accelerator
  docs/scenarios/azure-vmware/enterprise-scale-landing-zone.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc, pending-content-team/business-approval

#1111 Sync metadata and H1
  docs/scenarios/azure-vmware/enterprise-scale-landing-zone.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, scenario/subsvc, qualifies-for-auto-merge

#953 Update traditional-azure-networking-topology.md
  docs/ready/azure-best-practices/traditional-azure-networking-topology.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, ready/subsvc, aq-pr-triaged, inactive, qualifies-for-auto-merge, cact-review-in-progress, pending-content-team/business-approval

#951 Typo "Azure files service"→"Azure Files service"
  docs/scenarios/wvd/eslz-network-topology-and-connectivity.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc, cact-review-in-progress, pending-content-team/business-approval

#846 Update of the bulleting
  docs/govern/methodology.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, aq-pr-triaged, govern/subsvc, qualifies-for-auto-merge, pending-content-team/business-approval

#824 Typo "Postgres"→"PostgreSQL"
  docs/migrate/azure-best-practices/contoso-migration-postgresql-to-azure.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, migrate/subsvc, aq-pr-triaged, cact-review-in-progress, pending-content-team/business-approval

#1110 Learnings from Unilever SAP Migration
  docs/scenarios/sap/eslz-business-continuity-and-disaster-recovery.md
  docs/scenarios/sap/eslz-management-and-monitoring.md
  docs/scenarios/sap/eslz-network-topology-and-connectivity.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, aq-pr-triaged, scenario/subsvc, needs-human-review

#1112 Update azure-billing-enterprise-agreement.md
  docs/ready/landing-zone/design-area/azure-billing-enterprise-agreement.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, ready/subsvc, qualifies-for-auto-merge

#679 Update resource-naming.md
  docs/ready/azure-best-practices/resource-naming.md
Labels: Change sent to author, ready-to-merge, cloud-adoption-framework/svc, ready/subsvc, aq-pr-triaged, keep-open, cact-review-in-progress, pending-content-team/business-approval

#1079 Update resource-naming.md
  docs/ready/azure-best-practices/resource-naming.md
Labels: Change sent to author, do-not-merge, cloud-adoption-framework/svc, ready/subsvc, aq-pr-triaged, inactive, qualifies-for-auto-merge, cact-review-in-progress, pending-content-team/business-approval
