Repository MicrosoftDocs/cloud-adoption-framework, pull requests merged in 2024-06, with the labels that each got.

#1335 patch (adl): [considerations] access tiers
  docs/scenarios/cloud-scale-analytics/best-practices/data-lake-key-considerations.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, caf/svc, caf-scenario-analytics/subsvc

#1338 Replace deprecated features for AKS landing zone scenario document
  docs/scenarios/app-platform/aks/security.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, caf/svc, caf-scenario-app-plat/subsvc

#1339 Update: replaced MMA references with AMA
  docs/scenarios/azure-vmware/eslz-security-governance-and-compliance.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, caf/svc, caf-scenario-vmware/subsvc
