Repository MicrosoftDocs/cloud-adoption-framework, pull requests merged in 2025-01, with the labels that each got.

#1371 Update: add idm hints
  docs/scenarios/sap/eslz-identity-and-access-management.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, inactive, needs-human-review, caf/svc, caf-scenario-sap/subsvc

#1375 Update govern.md for AVS Scenario
  docs/scenarios/azure-vmware/govern.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, pending-content-team/business-approval, caf/svc, caf-scenario-vmware/subsvc

#1360 Added Azure Arc Gateway
  docs/ready/azure-best-practices/resource-abbreviations.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, pending-content-team/business-approval, caf/svc, caf-methodology-ready/subsvc
